<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Модель классификации вредоносного трафика</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Модель классификации вредоносного трафика</h1>
    <div id="app">
        <file-upload-form></file-upload-form>
        <prediction-results v-if="predictions"></prediction-results>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="/static/main.js"></script>
</body>
</html>
